*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;}
header{
    background-color: rgba(7, 5, 5, 0.814);
    color: white;
    padding: 10px 0;
    text-align: center;
}
header h1{
    margin: 10px 0;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display:inline;
    margin-right: 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
h2{
    margin-bottom: 15px;
    color: #050d12;
}
h3{
    color:rgb(206, 10, 10);
}
ul,ol{
    margin-top: 10px;
    padding-left: 20px;
}
ul li, ol li{
    margin-bottom: 10px;
}
.big-box-section{
    background-color: #fefefe;
    padding-left: 60px;
    padding-right: 60px;
    padding-top:65px;
    padding-bottom: 60px;
}
.boxes-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}
.box{
    border: 2px solid black;
    height: 300px;
    width: 20%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 25px;
}
.box-img{
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
section{
    
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    background-color: floralwhite;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
footer.footer{
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    text-align: left;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 50px;
}
.footer-column{
    flex: 1;
    margin: 15px;
    min-width: 150px;

}
.footer-column h4{
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
}
.footer-column ul{
    list-style: none;
}
.footer-column ul li{
    margin-bottom: 8px;
}
.footer-column ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.footer-column ul li a:hover{
    color: aqua;
}
.footer-social-icons{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}
.footer-social-icons a{
    color: rgb(115, 225, 225);
    margin-right: 15px;
    font-size: 18px;
    text-decoration: none;
}
.footer-social-icons a:hover{
    color: rgb(139, 230, 230);
}
.footer-bottom{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #555;
    padding-top: 15px;
}
